<div>
    <a class="btn" href="/"><img style="width: 30px;" src="../../img/home.png" alt="home"></a>
</div>
<div class="m-5">
    <h1 class="text-center">Vista Carrito</h1>
    <div class="row gap-4 p-4 ms-4" id="contCart">

    </div>
    <div class="mx-5 fs-1" id="total"></div>
</div>
<script src="../js/cartview.js"></script>