<div class='container mt-5 mx-auto p-3 rounded bg-dark text-light'>
    <h1 class='text-center my-5'>LOGIN</h1>
    <form  class="container" action="/api/sessions/login" method="post" >
        <div>
            <label htmlFor="">Email:</label>
            <input class='w-100' type="text" name="email"/>
        </div>
        <div>
            <label htmlFor="">Contraseña:</label>
            <input class="w-100" type="password" name="password"/>
        </div>
        <button class='btn btn-primary mt-2'>Login</button>
    </form>
</div>