<header>
    <nav class="navbar bg-primary d-flex justify-content-around" data-bs-theme="dark">
        <div>
          <a class="navbar-brand" href="http://localhost:8080/products">Tienda</a>
        </div>
        <div class="d-flex align-items-center gap-2">
            <div class="text-white fs-5">{{userLoged.user}}</div>
            {{#if userLoged.user}}
                <div>
                    <a class="btn btn-light" href="/api/sessions/perfil">Ver Perfil</a>
                </div>
                <div>
                    <a class="btn btn-danger" href="/api/sessions/logout">salir</a> 
                </div>
            {{/if}}
            {{#unless userLoged.user}}
                <div>
                    <a class="btn btn-light" href="/api/sessions/login">Login</a>
                </div>
            {{/unless}}
            <div>
                <a class="btn" href="/"><img style="width: 30px; filter: invert(100%)" src="./img/home.png" alt="home"></a>
            </div>
        </div>
        <div class="position-absolute" style="right:40px; top: 15px;">
            <a href="http://localhost:8080/products/pay" type="button" class="btn btn-primary position-relative">
                <img style="width: 30px; filter: invert(100%)" src="../img/cart.png" />
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="totalCountNav">
                    
                </span>
            </a>
        </div>
    </nav>
</header>
<main class="container-fluid my-5">
    <div class="text-center fs-3">
        Bienvenido al Market {{userLoged.user}}
    </div>
    <div class="mt-5 d-flex justify-content-between align-items-center">
        <h2 >Productos:</h2>
        <div>
            <button class="btn text-primary" id="productAll">Todos</button>
            <button class="btn text-primary" id="productRopa">Ropa</button>
            <button class="btn text-primary" id="productTecno">Tecnología</button>
            <button class="btn text-primary" id="productAsc">Ascendente</button>
            <button class="btn text-primary" id="productDesc">Descendente</button>
        </div>
    </div>
    <div class="row gap-4 p-4 ms-4" id="products">

    </div>
    <div class="d-flex gap-4 justify-content-center align-items-center">
        <ul class="pagination">
            <li class="page-item">
                <div class="btn page-link" id="prevPag">prev</div>
            </li>
            
            <li class="page-item"><a class="page-link" id="currtPag"></a></li>
            <li class="page-item">
            <div class="btn page-link" id="nextPag">next</div>
            </li>
        </ul>
    </div>
</main>
<script src="./js/cart.js"></script>
<script src="./js/products.js"></script>