<header>
    <nav class="navbar bg-primary d-flex justify-content-around" data-bs-theme="dark">
        <div>
          <a class="navbar-brand" href="#">Tienda</a>
        </div>
        <div class="d-flex align-items-center gap-2">
            <div class="text-white fs-5">{{userLoged.user}}</div>
            <div>
                <a class="btn btn-light" href="/api/sessions/perfil">Ver Perfil</a>
            </div>
            <div>
                <a class="btn btn-danger" href="/api/sessions/logout">salir</a> 
            </div>
        </div>
    </nav>
</header>
<main class="container-fluid my-5">
    <div class="text-center fs-3">
        Bienvenido al Market {{userLoged.user}}
    </div>
    <h2 class="mt-4">Productos:</h2>
    <div class="row gap-4 p-4 ms-4" id="products">

    </div>
    <div class="d-flex gap-4 justify-content-center align-items-center">
        <div class="btn btn-primary" id="prevPag">prev</div>
        <div id="currtPag"></div>
        <div class="btn btn-primary" id="nextPag">next</div>
    </div>
</main>
<script src="./js/products.js"></script>