<div class="m-5">
    <h1 class="text-center">Gracias por la compra</h1>
    <div class="m-5" id="infoID">

    </div>
    <h4 class="text-center">Productos Comprados</h4>
    <div class="row gap-4 p-4 ms-4" id="contCart">

    </div>
    <div class="mx-5 fs-1" id="total"></div>
    <div class="m-5 text-center fs-4">
        <div id="mailID"></div>
        <a  class="btn btn-success" href="http://localhost:8080/products">Seguir Comprando</a>
    </div>
</div>
<script src="../js/ticket.js"></script>