<header>
    <nav class="navbar bg-primary d-flex justify-content-around" data-bs-theme="dark">
        <div>
          <a class="navbar-brand" href="http://localhost:8080/products">Tienda</a>
        </div>
        <div class="d-flex align-items-center gap-2">
            <div class="text-white fs-5">{{userLoged.user}}</div>
            {{#if userLoged.user}}
                
            {{/if}}
            {{#unless userLoged.user}}
                <div>
                    <a class="btn btn-light" href="/api/sessions/login">Login</a>
                </div>
            {{/unless}}
        </div>
    </nav>
</header>
<main class="my-2 position-relative">
    <div id="processPurchase" class="position-fixed w-100 h-100 top-0 z-3" style="display: none;background-image: linear-gradient(rgba(5, 7, 12,0.90),rgba(5, 7, 12, 0.90));">
        <div class="position-absolute position-absolute top-50 start-50 translate-middle d-flex gap-3 align-items-center">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <h3 class=" fs-2" style="z-index: 999; color: white"> Procesado Compra... </h3>
        </div>
    </div>
    <a href="http://localhost:8080/products" class="mx-2 position-absolute btn btn-outline-secondary"> Regresar</a>
    <h1 class="text-center">Pagar</h1>
    <section class="w-75 mx-auto bg-secondary bg-gradient bg-opacity-10" id="cartCont">
        {{!-- Aqui se renderizan los productos --}}
    </section>
    <div class="w-75 mx-auto my-2" style="height: 5px; border-bottom: 2px solid black"></div>
    <section class=" w-75 d-flex justify-content-center gap-5 w-75 mx-auto">
        <div class="text-center fs-1" style="width: 30%;">Total:</div>
        <div class="w-25 text-center fs-1 fw-bold" id="totalShopping"></div>
    </section>
    <div id="contToPay">
        
    </div>

</main>
<script src="../js/pay.js"></script>